:root {
    --form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    gap: 0.5em;
}

.radio {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.radioquestion {
    text-align: center;
}

.radiosubmit {
    text-align: center;
    font-size: 2rem;
}