#uploadcontainer {
    width: 25rem;
    height: 25rem;
    background-color: #ADD8E6;
    border-radius: 3rem;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#uploadtext {
    padding-top: 10%;
}

#fileupload {
    margin-top: 4em;
    background-color: gray;
    color: white;
    padding: 0.6rem 0.75rem;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px;
    border-radius: 1rem;
}

#uploaded {
    margin-top: 1em;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 1.25rem 1.5rem;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
}