#resetbutton {
    font-family: 'Rubik';
    font-size: 20px;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 9rem;
    height: 4rem;
    display: block !important;
    
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 1.5rem;
}