@layer theme, base, components, utilities;
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
    --uiPrimary: #333;
    --uiSecondary: #555;
    --primary: #04AA6D;
    --secondary: #0f8555;
    --ternary: #0f6847;
    --textPrimary: black;
    --textSecondary: white;
    --cardColor: rgb(243 244 246);
    --cardColorSecondary: rgb(220, 224, 232);
    --background: white;
    --purplePrimary: rgb(153, 6, 198);
    --purpleSecondary: rgb(137, 20, 133);
    --purpleTernary: rgb(100, 19, 97);
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --uiPrimary: #333;
        --uiSecondary: #555;
        --primary: #04AA6D;
        --secondary: #0f8555;
        --ternary: #0f6847;
        --textPrimary: white;
        --textSecondary: black;
    }
}*/

.darkmode {
    --uiPrimary: #333;
    --uiSecondary: #555;
    --primary: #04AA6D;
    --secondary: #0f8555;
    --ternary: #0f6847;
    --textPrimary: white;
    --textSecondary: black;
    --cardColor: rgb(25, 25, 25);
    --cardColorSecondary: rgb(0, 0, 0);
    --background: #434242;
    background-color: #434242;
    color-scheme: light dark;
}

h1 {
    font-family: 'Rubik';
    font-size: 40px;
}

h2 {
    font-family: 'Rubik';
    font-size: 24px;
    line-height: calc(2 / 1.5);
}

h3 {
    font-family: 'Rubik';
    font-size: 15px;
}

p {
    font-family: 'Rubik';
    font-size: 20px;
}

.navbar {
    background-color: var(--uiPrimary);
    padding: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.navbar > *:last-child {
    white-space: nowrap;
    text-align: right;
  }

.navbar #link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem; 
    font-size: 20px;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.navbar #link:hover {
    background-color: var(--uiSecondary);
}

#websitename {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#leftSide {
    display: flex;
    align-items: center;
}

#rightSide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.inlineIcon {
    margin-right: 0.5rem;
}

#pageTitle {
    display: flex;
    padding-top: 1rem;
    padding-left: 3rem;
    gap: 10px;
    color: var(--textPrimary);
}

#backButton:hover {
    color: var(--primary);
}

.grnBtn {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
    font-size: 20px;
}

.grnBtn:hover {
    background-color: var(--secondary);
}

.grnBtn:active {
    background-color: var(--ternary);
}

.redBtn {
    background-color: red;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
    font-size: 20px;
}

.redBtn:hover {
    background-color: rgb(196, 30, 30);
}

.redBtn:active {
    background-color: rgb(128, 39, 39);
}

.aiBtn {
    background-color: var(--purplePrimary);
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
    font-size: 20px;
}

.aiBtn:hover {
    background-color: var(--purpleSecondary);
}

.aiBtn:active {
    background-color: var(--purpleTernary);
}

.centerBtn {
    display: block;
    margin: auto;
    width: 20rem;
    margin-top: 2rem;
}

.lowerRight {
    font-size: 20px;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 10rem;
    height: 4rem;
    display: block !important;
}

.lowerRightLarge {
    font-size: 20px;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 12rem;
    height: 4rem;
    display: block !important;
}

.lowerLeft {
    font-size: 20px;
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    width: 10rem;
    height: 4rem;
    display: block !important;
}

.middleBox {
    width: 30rem;
    height: 29rem;
    background-color: var(--secondary);
    color: white;
    border-radius: 2rem;
    border-color: black;
    border-width: 0.5rem;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 2rem;
}

.fileUpload {
    margin-top: 4em;
    background-color: white;
    color: black;
    padding: 0.6rem 0.75rem;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px;
    border-radius: 2rem;
}

.uploadButton {
    margin-top: 1em;
    background-color: var(--uiPrimary);
    border: none;
    color: white;
    padding: 1.25rem 1.5rem;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
}

#uploadtext {
    padding-top: 10%;
}

.dropBtn {
    width: 100%;
}
  
.dropUp {
    color: white;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 9rem;
    height: 4rem;
    display: inline-block;
}
  
.dropupContent {
    display: none;
    position: absolute;
    background-color: var(--uiPrimary);
    bottom: 50px;
    z-index: 1;
    width: 100%;
}
  
.dropupContent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropupContent a:hover {
    background-color: var(--primary);
}
  
.dropUp:hover .dropupContent {
    display: block;
}
  
.dropUp:hover .dropBtn {
    background-color: var(--secondary);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.activeNav {
    background-color: var(--uiSecondary);
}

.centerImage {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 10%;
    border-style: solid;
    border-width: 2px 2px;
    filter: drop-shadow(30px 10px 4px red);
}

#cardinfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--textPrimary);
}

#ricon {
    margin-left: 1rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.smallCard {
    width: 40%;
    height: 18rem;
    border-style: solid;
    border-width: 2px 2px;
    background-color: var(--cardColor);
    color: var(--textPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallCard:hover {
    background-color: var(--cardColorSecondary);
}

.centerText {
    text-align: center;
    color: var(--textPrimary);
}

.pageCard {
    color: var(--textSecondary) !important;
    background-color: red;
}

#themeSwitch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius:50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
}

#themeSwitch:hover {
    background-color: var(--secondary);
}

#themeSwitch svg {
    fill: white;
}

#themeSwitch svg:last-child {
    display: none;
}

.darkmode #themeSwitch svg:first-child {
    display: none;
}

.darkmode #themeSwitch svg:last-child {
    display: block;
}

.textInput1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
}
  
.textInput2 {
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border-bottom: 0.25rem solid var(--textPrimary);
    box-sizing: border-box;
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: var(--primary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: var(--secondary);
}
  
.textForm {
    width: 75%;
    margin: auto;
    margin-top: 3%;
    border-radius: 1rem;
    background-color: var(--cardColor);
    color: var(--textPrimary);
    padding: 20px;
    font-size: 20px;
}

#noShow {
    display: none;
}

@keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
}

.invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
}

#cardcontainer {
    padding-top: 3%;
    display: block;
    margin: auto;
    perspective: 1000px;
    width: 41.75rem;
    height: 25rem;
    position: relative;
}

#card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.2s; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px 2px;
    color: var(--textPrimary);
    border-color: black;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 2rem;
}

#cardfront {
    backface-visibility: hidden; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--cardColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

#cardback {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--cardColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(180deg); 
    border-radius: 2rem;
}

#card.flip {
    transform: rotateX(180deg);
}

#cardtext {
    text-align: center;
    flex: 0 0 35rem;
}

.miniCard {
    background-color: var(--cardColor);
    border-radius: 1rem;
    color: var(--textPrimary);
    padding: 1.5rem;
}

.container-xl {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem; 
    border-radius: 1rem;
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 750px) {
    .md\:grid-cols-2 {
        grid-template-columns: repeat(1, 1fr);
    }
}

.set {
    background-color: var(--cardColor);
    border-radius: 1rem;
    color: var(--textPrimary);
    padding: 1.5rem;
    filter: 
        drop-shadow(1px 1px rgb(207, 211, 218)) 
        drop-shadow(2px 2px rgb(196, 202, 211)) 
        drop-shadow(3px 3px rgb(172, 176, 186))
        drop-shadow(4px 4px rgb(135, 141, 157));
}

.md\:grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 900px) {
    .md\:grid-cols-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 650px) {
    .md\:grid-cols-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.font-bold {
    font-weight: 700;
    /*background-color: white !important;
    border-color: var(--cardColor);
    border-width: 5px;*/
}

#cardCount {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dualBox {
    display: flex;
    justify-content: center;
    color: white;
    margin: 2rem;
}

.leftDualBox {
    border-color: black;
    border-width: 0.5rem;
    border-right-width: 0.25rem;
    text-align: center;
    background-color: var(--secondary);
    width: 20rem;
    height: 30rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftDualBox:hover {
    background-color: var(--ternary);
}

.rightDualBox {
    border-color: black;
    border-width: 0.5rem;
    border-left-width: 0.25rem;
    text-align: center;
    background-color: var(--secondary);
    width: 20rem;
    height: 30rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightDualBox:hover {
    background-color: var(--ternary);
}

#setBuildingBox {
    color: var(--textPrimary);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cardBuilder {
    background-color: var(--cardColor);
    border-radius: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.smallerBox {
    margin: 2rem;
}

.flex {
    display: flex;
    white-space: nowrap;
    justify-content: space-around;
    flex-grow: 1;
    gap: 3rem;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1;
}

.feedbackBox {
    background-color: var(--cardColor);
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    border-radius: 2rem;
    position: relative;
}

#mascot {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    transform: scale(0.5);
    transform-origin: bottom right;
}

.dualButtons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
    margin: auto;
}

.dualButtonsRow {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.dualButtonRow {
    width: 15rem !important;
}

.pad1 {
    padding: 1rem;
}

.pad5 {
    padding: 5rem;
}

.padBottom {
    padding-bottom: 1rem;
}

.padBottom8 {
    padding-bottom: 8rem;
}

.noSelect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--background);
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 1rem 2rem;
    background-color: red;
    color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.modal-body {
    padding: 2rem;
    color: var(--textPrimary)
}

.delete {
    margin-top: -10px;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.delete:hover,
.delete:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#websiteImage {
    display: none;
}

.matchCard {
    background-color: var(--cardColor);
    border-radius: 1rem;
    color: var(--textPrimary);
    padding: 1.5rem;
    min-height: 9rem;
}

.matchPlaceHolder {
    min-height: 9rem;
    border-radius: 1rem;
}

.selected {
    background-color: gray;
}

.progressBar {
    height: 10px;
    border-radius: 100px;
    width: 80%;
    
    /* Chrome and Safari */
    &::-webkit-progress-bar {
        background: var(--cardColorSecondary);
        border-radius: 100px;
    }

    &::-webkit-progress-value {
        background-color: var(--primary);
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    /* Firefox */
    &::-moz-progress-bar {
        background-color: var(--primary);
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
}

.spinner-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.spinner-wrapper {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 6px solid rgba(252, 77, 77, 0.2);
    border-top: 6px solid #d31f1f;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.lightning-image {
    width: 40px;
    height: 40px;
    z-index: 1;
    animation: pulseGlow 1s infinite ease-in-out;
    filter: drop-shadow(0 0 4px #d31f1f);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes pulseGlow {
    0%, 100% {
        transform: scale(1);
        filter: drop-shadow(0 0 4px #d31f1f);
    }
    50% {
        transform: scale(1.2);
        filter: drop-shadow(0 0 12px #e95757);
    }
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(1.05);
        background-color: #866086;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animateCard {
    animation: fadeInScale 0.4s ease-out forwards;
    opacity: 0;
}

.purpleDrop {
    filter: drop-shadow(3px 3px 2px var(--purplePrimary));
}

.purple {
    background-color: var(--purplePrimary) !important;
}

.purple:hover {
    background-color: var(--purpleSecondary) !important;
}

.purple:active {
    background-color: var(--purpleTernary) !important;
}

@media only screen and (max-width: 1000px) {
    .feedbackBox {
        position: static;
    }

    #mascot {
        transform: scale(0.45);
    }
}

/* Phone Rules */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px
    }

    p {
        font-size: 20px
    }

    h3 {
        font-size: 15px;
    }

    #websiteTitle {
        display: none;
    }

    #websiteImage {
        display: block;
        scale: 300%;
    }

    .hideMobile {
        display: none;
    }

    .dualButtons {
        width: 25rem;
    }

    #setBuildingBox {
        padding: 2rem;
    }

    .lowerRight {
        width: 7.5rem;
        bottom: 2rem;
    }

    .middleBox {
        width: 80%;
    }

}