@import "tailwindcss";

:root {
    --uiPrimary: #333;
    --uiSecondary: #555;
    --primary: #04AA6D;
    --secondary: #0f8555;
    --ternary: #0f6847;
    --textPrimary: black;
    --textSeconday: white;
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --uiPrimary: #333;
        --uiSecondary: #555;
        --primary: #04AA6D;
        --secondary: #0f8555;
        --ternary: #0f6847;
        --textPrimary: white;
        --textSeconday: black;
    }
}*/

.darkmode {
    --uiPrimary: #333;
    --uiSecondary: #555;
    --primary: #04AA6D;
    --secondary: #0f8555;
    --ternary: #0f6847;
    --textPrimary: white;
    --textSeconday: black;
    background-color: Canvas;
    color-scheme: light dark;
}

h1 {
    font-family: 'Rubik';
    font-size: 40px;
}

p {
    font-family: 'Rubik';
    font-size: 20px;
}

.navbar {
    background-color: var(--uiPrimary);
    padding: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.navbar > *:last-child {
    white-space: nowrap;
    text-align: right;
  }

.navbar #link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem; 
    font-size: 20px;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.navbar #link:hover {
    background-color: var(--uiSecondary);
}

#websitename {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#leftSide {
    display: flex;
    align-items: center;
}

#rightSide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.inlineIcon {
    margin-right: 0.5rem;
}

#pageTitle {
    display: flex;
    padding-top: 1rem;
    padding-left: 3rem;
    gap: 10px;
    color: var(--textPrimary);
}

#backButton:hover {
    color: var(--primary);
}

.grnBtn {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 1.5rem;
    font-size: 20px;
}

.grnBtn:hover {
    background-color: var(--secondary);
}

.grnBtn:active {
    background-color: var(--ternary);
}

.centerBtn {
    display: block;
    margin: auto;
    width: 20rem;
    margin-top: 2rem;
}

.lowerRight {
    font-size: 20px;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 9rem;
    height: 4rem;
    display: block !important;
}

.middleBox {
    width: 30rem;
    height: 29rem;
    background-color: #ADD8E6;
    border-radius: 3rem;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.fileUpload {
    margin-top: 4em;
    background-color: gray;
    color: var(--textSecondary);
    padding: 0.6rem 0.75rem;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px;
    border-radius: 1rem;
}

.uploadButton {
    margin-top: 1em;
    background-color: var(--primary);
    border: none;
    color: var(--textSecondary);
    padding: 1.25rem 1.5rem;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
}

#uploadtext {
    padding-top: 10%;
}

.dropBtn {
    width: 100%;
}
  
.dropUp {
    color: white;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 9rem;
    height: 4rem;
    display: inline-block;
}
  
.dropupContent {
    display: none;
    position: absolute;
    background-color: var(--uiPrimary);
    bottom: 50px;
    z-index: 1;
    width: 100%;
}
  
.dropupContent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropupContent a:hover {
    background-color: var(--primary);
}
  
.dropUp:hover .dropupContent {
    display: block;
}
  
.dropUp:hover .dropBtn {
    background-color: var(--secondary);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.activeNav {
    background-color: var(--uiSecondary);
}

.centerImage {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 10%;
    border-style: solid;
    border-width: 2px 2px;
    filter: drop-shadow(30px 10px 4px red);
}

#cardinfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--textPrimary);
}

#ricon {
    margin-left: 1rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.smallCard {
    width: 40%;
    height: 18rem;
    border-style: solid;
    border-width: 2px 2px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerText {
    text-align: center;
}

.pageCard {
    color: var(--textSecondary) !important;
    background-color: red;
}

#themeSwitch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius:50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
}

#themeSwitch:hover {
    background-color: var(--secondary);
}

#themeSwitch svg {
    fill: white;
}

#themeSwitch svg:last-child {
    display: none;
}

.darkmode #themeSwitch svg:first-child {
    display: none;
}

.darkmode #themeSwitch svg:last-child {
    display: block;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: var(--primary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: var(--secondary);
}
  
.textForm {
    width: 75%;
    margin: auto;
    margin-top: 3%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 20px;
}

#noShow {
    display: none;
}

@keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
}


.invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
}
  